<section data-ng-controller="HomeController">
   <div class="jumbotron text-center">
      <div class="row">
         <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
	    <p class="lead">NCAA Calcutta Live Auction</p>
         </div>
      </div>
      <br>
      <div class="row">
         <p class="lead">
            Create a Calcutta style Auction to play with your friends
         </p>
      </div>
      <div class="row">
         <p>
            <a class="btn btn-primary btn-lg" href="/#!/drafts/join">Join a Draft</a>
	 </p>
         <p>
            <a class="btn btn-primary btn-lg" href="/#!/drafts/create">Create a Draft</a>
	 </p>
      </div>
   </div>
</section>
